/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  
  background-color: rgb(40, 40, 40);
}

/* Page Styles */
.new {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 50px auto;
  max-width: 600px;
  
  background-color: rgb(250, 192, 67);
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px #000;
}

.new_title {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  font-weight: bold;
  font-size: 18px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #ddd;
  background-color: #f9f9f9;
  font-size: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  outline: none;
  border-bottom: 2px solid #555;
}

input[type="button"] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 20px 0 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

input[type="button"]:hover {
  background-color: #45a049;
}

h4 {
  text-align: center;
  font-weight: normal;
  margin-top: 20px;
}

.link {
  display: block;
  text-align: center;
  color: #666;
  margin-top: 20px;
}